.DietContainer{
    height: 230vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ScreenFull{
    height: 300vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ContainerTitle{
    position: relative;
    width: 100%;
}

.ContainerTitleImgBackground{
    background-image: url('../../Images/img/Diet2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 550px;
    margin-top: 5px;
    margin-bottom: 5vh;
}

.ContainerTitle h1{
    font-size: 100px;
    font-weight: normal;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.FormLabel {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.FormLabeltest {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.FormLabel input[type=text],
.FormLabel input[type=number]{
    /* padding: 10px; */
    /* border: 1px solid #d6d1d5; */
    border-radius: 20px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    width: 100%;
}

.Diets,
.FormDietContainer{
    width: 100%;
}

.Diets{
    margin-top: 30px;
}

.RecipesContainer{   
display: flex;
justify-content: space-evenly;
width: 80%;
flex-wrap: wrap;
}

.ContainerSpinner{
    top: 180vh;
    left: 40%;
    transform: calc(-50%, -50%);
    -webkit-transform: calc(-50%, -50%);
    -moz-transform: calc(-50%, -50%);
    -ms-transform: calc(-50%, -50%);
    -o-transform: calc(-50%, -50%);
}

.ContainerSectionForm{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 20px;
}  

.TypeMeal {
    align-items: center;
    width: 100%;
    margin-bottom: 5vh;
    margin-top: 6vh;
}

.TypeMeal h3{
    margin-bottom: 20px;
    font-family: Rubik;
    font-weight: 600;
}

.LabelInRow {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   height: 90px;
   margin: 60px 0px 30px 0px;

}

.InputInRow {
    display: flex;
    align-items: center;
}

.InputInRow label {
    width : 200px;
    margin: 10px;
}

.buttonCall {
    min-width: 15%;
    cursor: pointer;
    margin-right: 0.25em;
    margin-top: 0.5em;
    padding: 15px;
    border: none;
    border-radius: 30px;
    background-color: #10AC84;
    color: #fefefe;
    font-size: 20px;
    font-family: 'Rubik';
    font-weight: bold;
}

.SearchButton {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

@media (min-width: 1900px){

    .ContainerTitleImgBackground{
        height: 700px;
    }

    .DietContainer{
        height: 200vh;
    }

    .ContainerSpinner{
        top: 180vh;
    }
    
    .RecipesContainer{
        width: 60%;
    }

    .ScreenFull {
        height: 200vh;
    }
}

@media (min-width: 1500px) and (max-width: 1899px) {
    .ContainerSpinner{
        top: 250vh;
    }
}

/* TABLET RESPONSIVE (IPAD) */
@media screen and (max-width: 768px){

    .ContainerSpinner{
        display: none;
    }

    .DietContainer {
        height: 150vh;
    }

    .ScreenFull {
        height: 270vh;
    }
}

/* MOBILE RESPONSIVE (IPHONE 6/7/8) */
@media screen and (max-width: 375px){

    .ContainerSpinner{
        display: none;
    }

    .ContainerTitle h1{
        font-size: 6rem;
    }

    .ContainerSectionForm{
        flex-direction: column;
        width: 80%;
        margin-bottom: 0;
    }

    .FormLabel{
        width: initial;
        margin-bottom: 20px;
    }

    .TypeMeal{
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .FormDietContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .DietContainer {
        height: 315vh;
    }

    .ScreenFull {
        height: 640vh;
    }

}