/* Title and image of the page */
.AboutUs .ContainerTitle{
    position: relative;
}

.AboutUs .ContainerTitleImgBackground{
    background-image: url('../../Images/AboutUsBoard.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 550px;
    margin-top: 5px;
}

.AboutUs .ContainerTitle h1{
    font-size: 8rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Background image of the portraits in the page */
.AboutUs .ContainerMembersImgBackground{
    background-image: url('../../Images/bg17.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 493px;
}

.AboutUs .ContainerMembers{
    position: relative;
    width: 100%;
}

/* The 3 portraits */
.AboutUs .ContainerMembers .AllPortrait{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* The social networks icons */
.AboutUs .ContainerMembersSocial{
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    top: 0;
    margin-top: 355px;
}

.AboutUs .ContainerMembersSocialContent img{
    top: 50%;
    height: 20px;
    width: auto;
}

.AboutUs .ContainerMembersSocialLinksContent .ImgTwitter,
.AboutUs .ContainerMembersSocialLinksContent .ImgInstagram,
.AboutUs .ContainerMembersSocialLinksContent .ImgFacebook,
.AboutUs .ContainerMembersSocialLinksContent .ImgLinkedin{
    transition: transform .5s ease;
    -webkit-transition: transform .5s ease;
    -moz-transition: transform .5s ease;
    -ms-transition: transform .5s ease;
    -o-transition: transform .5s ease;
}

.AboutUs .ContainerMembersSocialLinksContent:hover{
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}

.AboutUs .ContainerMembers .ContainerMembersSocialContent{
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 200px;
}

@media screen and (max-width: 1200px){
    .AboutUs .ContainerTitleImgBackground{
        height: 440px;
    }

    .AboutUs .ContainerMembersImgBackground{
        height: 135vh;
    }

    .AboutUs .ContainerTitle h1{
        font-size: 6rem;
    }

    .AboutUs .ContainerMembers .AllPortrait{
        flex-direction: column;
        justify-content: center;
        top: 50%;
    }

    .AboutUs .ContainerMembersSocial{
        flex-direction: column;
        align-items: center;
        margin-top: 310px;
        height: 120vh;
    }
}

/* TABLET RESPONSIVE (IPAD) */
@media screen and (max-width: 768px){
    .AboutUs .ContainerTitle h1{
        width: 100%;
    }

    .AboutUs .ContainerMembersImgBackground{
        height: 95vh;
    }

    .AboutUs .ContainerMembers .AllPortrait{
        top: 50%;
    }

    .AboutUs .ContainerMembersSocialContent{
        height: 0;
    }

    .AboutUs .ContainerMembersSocial{
        margin-top: 277px;
        height: 90vh;
    }
}

/* MOBILE RESPONSIVE (IPHONE 6/7/8) */
@media screen and (max-width: 375px){

    .AboutUs .ContainerMembers .AllPortrait{
        top: 52%;
    }

    .AboutUs .ContainerMembersImgBackground{
        height: 165vh;
    }

    .AboutUs .ContainerMembersSocial{
        margin-top: 400px;
        height: 150vh;
    }
}