.PortraitCard2{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 95%;
    margin: 0 auto;
}

.PortraitCard2 .Testimonial{
    position: relative;
    background-color: #FAFAFA;
    color: #424242;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 2rem 2rem 3rem 2rem;
    margin: 0 1.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12),
                0 1px 3px rgba(0, 0, 0, .24);
    height: 40vh;
}

.PortraitCard2 .Portrait2{
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    max-width: 6rem;
    height: 6rem;
    width: 250px;
    position: absolute;
    top: -3.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.PortraitCard2 .ContainerNameDev{
    text-align: center;
    margin: 1.5rem 0 1rem 0;
}

.PortraitCard2 .Name2{
    font-size: 1.15rem;
    margin: 1.5rem 0 1rem 0;
    font-family: Rubik;
    font-weight: 600;
}

.PortraitCard2 .Description2{
    text-align: center;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.85rem;
}

/* @media screen and (min-width: 1201px) {
    .PortraitCard2 .Testimonial{
        height: 250px;
    }
}

@media screen and (max-width: 1200px){
    .PortraitCard2{
        min-height: 40vh;
    }
} */

/* TABLET RESPONSIVE (IPad) */
@media screen and (max-width: 768px){

    .PortraitCard2{
        min-height: 35vh;
    }

    .PortraitCard2 .Testimonial{
        height: 25vh;
    }

    .PortraitCard2 .Description2{
        font-size: .9rem;
        line-height: 1.2rem;
    }
}

/* MOBILE RESPONSIVE (Galaxy S9) */
@media screen and (max-width: 375px){
    
    .PortraitCard2{
        min-height: 50vh;
    }

    .PortraitCard2 .Testimonial{
        height: 38vh;
    }
}