.Item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    height: 6%;
    box-shadow: 0px 1px 2px grey;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.ItemWithCat {
    display: flex;
    height: 6%;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid grey;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    height: 6%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 1px 2px grey;
}

.Item input,
.ItemWithCat input {
    margin: 5px;
}

.Item p {
    margin-left: 5px;
}

.IconAndName {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.IconAndName h3 {
    font-family: 'Rubik';
    font-size: 20px;
    margin-left: 5px;
}

.List {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-right: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    width: 90%;
    position: relative;
    padding: 15px 5px 10px 5px;
    top: -7px;
    margin-left: 5%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* box-shadow: 0px 1px 2px grey; */
}

.ItemList {
    display: flex;
    flex-wrap: wrap;
    width: 49%;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

