.BackgroundImage {
    background-image: url('../../Images/ImageHome.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5px;
    width : 100%;
    height: 550px;
    position: relative;
}

.BackgroundImage h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 8rem;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.Subtitle {
    text-align: center;
    color: #10AC84;
    font-family: 'Rubik';
    padding: 15px;
    font-size: 2.5rem;
}

.GlobalContainer {
    display: flex;
}

.BackgroundImage p {
    position: absolute;
    top: 80%;
    left: 58%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}