.MiniRecipe {
    cursor: pointer;
    height: 200px;
    width: 250px;
    box-shadow: 0px 3px 10px grey;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    z-index: 1000;
    position: relative;
}

.divTest button {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    cursor: pointer;
    z-index: 10;
    background-color: transparent;
}

.ContainerMiniRecipeImg{
    overflow: hidden;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.ContainerMiniRecipeImg img {
    max-width: 100%;
    height: auto;
}

.MiniRecipe small{
    font-family: 'Rubik';
    height: 15px;
}

.MiniRecipe p {
    font-family: 'Rubik';
}

.RecipeImage {
    display: inline-flex;
    width: 75px;
    padding: 6px 16px;
    border-radius: 100px;
    justify-content: center;
    box-shadow: 0 4px 14px -4px rgba(0,0,0,.08);
    background-color: white;
    position: absolute;
    margin-top: 5px;
    margin-left: 170px;
}

.RecipeImg {
    height: 0;
}

.RecipeNbLike {
    line-height: 15px;
    margin-left: 5px;
}

.RecipeTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    text-align: center;
    padding: 0 10px 0px 10px;
}

/* .RecipeImage div, .RecipeImage img {
    margin: 30px;
} */
