.title, .title2 {
    text-transform: uppercase;
    font-family: 'Rubik';
}

.title {
    /* color: #10AC84; */
    /* color: #F29B20; */
    align-self: center;
}

.RecipeTitle .title {
    font-size: 40px;
}

.title2 {
    align-self: center;
    color: #10AC84;
}

.RecipeDetail hr{
    margin: 10px 0px 20px 0px;
    border: 0.5px solid #10AC84;
    /* border: 0.5px solid #F29B20; */
    /* width: 400px;*/
}

.title2 span {
    position: relative;
    z-index: 3;
    background-color: white;
    padding: 0 1rem;
    display: inline-block;
    overflow: visible;
}

.ContainerModalFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.closeButton {
    position: absolute;
    right: 0;
    left: 90;
    top : 50;
    /* width: 20%; */
    cursor: pointer;
    padding: 10px;
}


.orderList {
    column-count: 3;
    margin-left: 40px;
    margin-right: 5px;
    list-style-image: url('../../../../Images/Icone/list-ingre-vege.png');
}

.orderList .IngredientsLi {
    margin-left: 10px;
}

.RecipeDetail {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: space-evenly;
    margin: 0px 20px 20px 60px;
}

.RecipeTitle {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.RecipeTitle h1{
    text-align: center;
    padding: 20px 0 20px 0;
}

.RecipeIcon {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    margin: 10px 20px 10px 0;

} 

.RecipeIcon small{
    font-weight: bold;
}

.RecipeIcon div {
    display: flex;
    align-items: center;
}

.RecipeIcon div img{
    padding-right: 10px;
}

.RecipeDetail h2 {
    margin: 35px 0 0 0;
}

.RecipeDetail ul{
    margin-left: 0;
}

/* .RecipeDetail ol li{
    margin-bottom: 10px;
} */

.InstructionsOl {
    counter-reset: li;
    list-style: none;
}

.InstructionsLi {
    position: relative;
    padding: 5px 0 33px 50px;
    font-size: 16px;
    font-family: 'Rubik';
}

.InstructionsLi:before {
    border-radius: 50%;
    content: counter(li);
    counter-increment: li;
    position: absolute;
    line-height: 35px;
    left: -8px;
    top: -2px;
    color: #10AC84;
    width: 35px;
    height: 35px;
    box-shadow: 1px 1px 12px 0 rgba(0, 0, 0, 0.07);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Rubik';
}