.Navbar{
    display: flex;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    justify-content: space-between;
    position: fixed;
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-shadow: black 1px 0 10px;
    z-index: 9999;
    background-color:#10AC84;
    margin-top: -10px;
}

.LogoAndTitleContainer {
    display: flex;
}

.LogoAndTitleContainer h2 {
    margin-top: 25px;
}

.NavItemsContainer {
    display: flex;
    justify-content: flex-end;
}

.NavItems {
    padding: 30px;
}

.NavItemsContainer a{
    color: white;
    font-weight: 800;
    text-decoration: none;
}
.NavItemsContainer a:hover{
    color: grey;
    
}

@media screen and (max-width: 768px) {
    .NavItems {
        display: none;
    }
    .Navbar {
        flex-direction: row-reverse;
    }
    .LogoAndTitleContainer h2 {
      display: none;
    }
   
}

@media screen and (min-width: 765px) {
    .BurgerMenu {
        display: none;
    }
    .bm-burger-button {
        display: none;
    }
    
    
}

.navItemsBurger a {
  color: white;
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    /* left: 16px;
    top: 26px; */
    left: 20px;
    top: 25px;
    z-index: 1000;
  }
   
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }
   
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #a90000;
  }
   
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
   
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
   
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
   
  /* General sidebar styles */
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
   
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
   
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
   
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
   
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
