.Recipe {
    width: 350px;
    height: auto;
    border: 1px solid black;
    margin: 5px;
    box-shadow: 4px 4px 10px grey;
}

.RecipeImgContainer{
    height: 150px;
    overflow: hidden;
}

.Recipe h3 {
    text-align: center;
    font-family: 'Rubik';
    font-weight: normal;
    font-size: 24px;
}