/* GENERAL CSS FOOTER */
.Footer{
    width: 100%;
    color: white;
    background-color: #10AC84;
    padding-bottom: 20px;
}

.Footer h2,
.Footer h4{
    margin-top: 0;
}

.Footer h2{
    font-size: 2rem;
    padding-bottom: 20px;
}

.Footer h4{
    font-size: 1.2rem;
    height: 40px;
    line-height: 40px;
    padding-bottom: 40px;
}

.Footer a{
    text-decoration: none;
    color: white;
}

.Footer a:hover{
    color: #F29B20;
}

.Footer ul{
    padding: 0;
    margin: 0;
}

.Footer li{
    list-style: none;
}

.Footer img{
    width: 50px;
    height: auto;
}

/* CONTAINER LINKS NAVIGATION */
.Footer .ContainerContentLinks{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 50px;
    text-align: center;
}

.Footer .ContainerContentLinksItems ul{
    line-height: 25px;
}

.Footer .ContainerContentLinksItems,
.Footer .ContainerContentContacts,
.Footer .ContainerContentSocial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* CONTAINER CONTACTS INFORMATIONS */
.Footer .ContainerContentContacts li{
    line-height: 2rem;
}

/* CONTAINER LINKS/ICONS SOCIAL NETWORKS */
.Footer .ContainerContentSocialLinks{
    display: flex;
    align-items: center;
    height: 100px;
}

.Footer .ContainerContentSocialLinksImg:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.Footer .ImgTwitter,
.ImgInstagram{
    margin-right: 10px;
}

.Footer .ImgTwitter,
.Footer .ImgInstagram,
.Footer .ImgFacebook{
    transition: transform .5s ease;
    -webkit-transition: transform .5s ease;
    -moz-transition: transform .5s ease;
    -ms-transition: transform .5s ease;
    -o-transition: transform .5s ease;
}

/* CONTAINER COPYRIGHT SENTENCE */
.Footer .ContainerContentCopyright{
    margin-top: 50px;
    text-align: center;
}

/* TABLET RESPONSIVE */
@media screen and (max-width: 801px){
    .Footer .ContainerContentLinks{
        flex-direction: column;
        align-items: center;
    }

    .Footer .ContainerContentContacts,
    .Footer .ContainerContentSocial,
    .Footer .ContainerContentCopyright{
        margin-top: 30px;
    }
}

/* MOBILE RESPONSIVE */
@media screen and (max-width: 376px){

    /* Container links */
    .Footer .ContainerContentLinksItems h2{
        font-size: 1.2rem;
        padding-bottom: 10px;
    }

    .Footer .ContainerContentLinksItems ul{
        line-height: 20px;
    }

    .Footer .ContainerContentLinksItems ul li,
    .Footer .ContainerContentContacts ul li{
        font-size: .8rem;
    }

    /* Container contacts */
    .Footer .ContainerContentContacts,
    .Footer .ContainerContentSocial,
    .Footer .ContainerContentCopyright{
        margin-top: 15px;
    }

    .Footer .ContainerContentContacts h4{
        height: 0;
        padding-bottom: 35px;
    }

    .Footer .ContainerContentContacts li{
        line-height: 1.4rem;
    }

    .Footer .ContainerContentContacts h4,
    .Footer .ContainerContentSocial h4{
        font-size: 1rem;
    }

    /* Container social networks */
    .Footer .ContainerContentSocialLinks{
        height: 50px;
    }

    .Footer .ContainerContentSocialLinksImg img{
        width: 25px;
    }

    /* Container copyright */
    .Footer .ContainerContentCopyright p{
        font-size: .6rem;
    }
}