.Loader {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: calc(-50%, -50%);
    -webkit-transform: calc(-50%, -50%);
    -moz-transform: calc(-50%, -50%);
    -ms-transform: calc(-50%, -50%);
    -o-transform: calc(-50%, -50%);
}