@font-face {
  font-family: 'Flash';
  src: url("./Fonts/FlashRegular.otf");
}

body {
  margin: 0;
  font-family: 'Rubik', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3 {
  font-family: 'Flash';
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}